{% extends './base.html' %}
{% block content %}
<div class="jumbotron container mt-4">
<div style="margin:50px;" class="personForm">
<form method="POST" action="" >
    <center><h1>Enter the passenger details</h1></center>
    <br>
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <center>
        <input type="submit" value="Submit and Pay" class="btn btn-info">
    </center>
    
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function()
    {
        $("#id_gender").addClass("form-control");
        $("#id_age").addClass("form-control");
        $("#id_name").addClass("form-control");
        $("#id_phone_number").addClass("form-control");
    });
</script>
  
{% endblock %}